h1, h2, h3 {
    font-family: 'Momo Signature', cursive;
}

body, p {
    font-family: 'Iosevka Charon', monospace;
}

header, nav {
    background-color: rgb(214, 100, 154);
    color: rgb(227, 231, 6);
    padding: 20px;
    margin-bottom: 16px;
}


