h1, h2, h3 {
    font-family: 'Momo Signature', cursive;
}

body, p {
    font-family: 'Iosevka Charon', monospace;
}

header, nav {
    background-color: rgb(214, 100, 154);
    color: rgb(227, 231, 6);
    padding: 20px;
    margin-bottom: 8px;
}

.section_class {
    background-color: rgb(26, 241, 73);
    color: rgb(6, 216, 231);
    padding: 30px;
    margin-bottom: 7px;
}

.items {
    color: rgb(185, 132, 17);
    background-color: rgb(207, 35, 35);
    padding: 50px;
    margin-bottom: 10px;
}

.section_class1 {
    
    background-color: rgb(237, 241, 26);
    color: rgb(0, 0, 0);
    padding: 4px;
    margin-bottom: 7px;
}
.sector_contacto {
    color: rgb(238, 10, 10);
    background-color: rgb(40, 26, 241);
    padding: 4px;
    margin-bottom: 7px;
}

.mail {
    color: rgb(0, 0, 0);
    background-color: rgb(241, 26, 26);
    padding: 4px;
    margin-bottom: 7px;
}

